.btn-trans {
  border: 1px solid $dark-pink;
  background-color: transparent;
  color: $dark-pink;
  border-radius: 3px;
  padding: 5px 12px;
  font-size: 14px;
  font-family: $font-family-default;
  font-weight: 600;
}

.btn-trans:hover {
  transform: scale(0.98);
}

.btn-num {
  border-radius: 3px;
  padding: 5px 12px;
  font-size: 14px;
  border: 1px solid $dark-pink;
  margin-left: 10px;
  font-family: $font-family-default;
  font-weight: 600;
}

.btn-num:hover {
  transform: scale(0.98);
}

.search-card {
  background-color: white;
}
