$disp: (
  hidden: none,
  block: none,
  flex: flex,
  grid: grid,
);

@each $prop, $var in $disp {
  .#{$prop} {
    display: $var;
  }
}

@media only screen and (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:mt-5 {
    margin-top: 0;
  }

  .md\:hidden {
    display: none;
  }

  .md\:block {
    display: block;
  }

  .bar-box {
    display: none;
  }

  .overflow-x {
    overflow-x: auto;
    column-gap: 24px;
  }
}

@each $prop, $var in $disp {
  @media only screen and (min-width: 1024px) {
    .lg\:#{$prop} {
      display: $var;
    }
  }
}
