.hidden {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

@media only screen and (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:mt-5 {
    margin-top: 0;
  }

  .md\:hidden {
    display: none;
  }

  .md\:block {
    display: block;
  }

  .bar-box {
    display: none;
  }

  .overflow-x {
    overflow-x: auto;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }
}
