.footer__box {
  font-family: $font-family-default;
}

.footer__icons {
  text-decoration: none;
  font-size: 28px;
  color: #334155;
}

.footer__icons:hover {
  color: #888888;
}

.with-logo {
  width: 400px;
}

.border-foot {
  color: #e2e8f0;
}
