.footer__box {
  font-family: $font-family-default;
}

.footer__icons {
  text-decoration: none;
  font-size: 28px;
  color: $gray-700;
}

.footer__icons:hover {
  color: $gray-medium;
}

.with-logo {
  width: 400px;
}

.border-foot {
  color: $gray-200;
}
