.footer__box {
  font-family: $font-family-default;
}

.footer__icons {
  text-decoration: none;
  font-size: 28px;
  color: $gray-700;
}

.footer__icons:hover {
  color: $gray-medium;
}

.with-logo {
  width: 400px;
}

.border-foot {
  color: $gray-200;
}

.foot__btn {
  background-color: transparent;
  border: 1px solid $gray-200;
  color: $gray-700;
  margin-left: 10px;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
}

.foot__btn1 {
  background-color: transparent;
  border: 1px solid $gray-200;
  color: $gray-700;
  margin-left: 16px;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
}
