.gap-3 {
  gap: 12px;
}

.place-center {
  place-items: center;
}

.gap-5 {
  gap: 20px;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.grid-cols-1 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 1fr));
}

@media only screen and (min-width: 710px) {
  .md\:grid-cols-3-serch {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -ms-grid-columns: (minmax(0, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    -ms-grid-columns: (minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -ms-grid-columns: (minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    -ms-grid-columns: (minmax(0, 1fr));
  }

  .md\:col-md-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:grid {
    display: grid;
  }

  .md\:gap-3 {
    gap: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .lg\:gap-5 {
    gap: 20px;
  }

  .lg\:col-lg-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg\:col-lg-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-lg-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    -ms-grid-columns: (minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -ms-grid-columns: (minmax(0, 1fr));
  }

  .lg\:gap-3 {
    gap: 12px;
  }
}
