.search__box {
  height: 327px;
  background-image: url("../../assets/pet-search.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search__info {
  height: 75%;

  > h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: $header-font-family;
  }

  > p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-top: 10px;
  }
}

.search__input {
  margin-top: -15px;
  width: 100%;
}

#apartment-select {
  @include rect(41px, 150px);

  border: 1px solid white;
  margin-right: 1px;
  border-radius: 4px 0 0 4px;
  color: $gray-medium;
  text-indent: 10px;
}

.search__inp {
  @include rect(37px, 200px);

  border: 1px solid white;
  margin-right: 1px;
  text-indent: 10px;
}

.search__button {
  @include rect(41px, 100px);

  border: 1px solid $dark-black;
  border-radius: 0 4px 4px 0;
}

@media only screen and (max-width: 768px) {
  .md\:column {
    flex-direction: column;
  }

  .search__input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search__info {
    height: 55%;
  }

  #apartment-select,
  .search__inp {
    width: 400px;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .search__button {
    width: 408px;
    border-radius: 6px;
  }
}
