.search__box {
  height: 327px;
  background-image: url("../../assets/pet-search.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search__info {
  height: 75%;

  > h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: $header-font-family;
  }

  > p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-top: 10px;
  }
}

.search__input {
  margin-top: -15px;
  max-width: 100%;
}

#apartment-select {
  border: 1px solid white;
  margin-right: 1px;
  border-radius: 6px;
  color: $gray-medium;
  background-color: white;
  text-indent: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search__inp {
  border: 1px solid white;
  text-indent: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search__button {
  border: 1px solid $dark-black;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .search__input {
    display: flex;
    flex-direction: row;
  }

  #apartment-select {
    border-radius: 4px 0 0 4px;
    width: 170px;
  }

  .search__inp {
    border-radius: 0;
    width: 220px;
    margin-right: 1px;
  }

  .search__button {
    border-radius: 0 4px 4px 0;
    width: 100px;
    margin-right: 1px;
  }
}
