.show__box {
  font-family: $font-family-default;
}

.border-show {
  border-radius: 10px;
}

.show__text {
  align-items: flex-start;
}

.text-md1 {
  font-size: 2rem;
}

.m-width-show {
  max-width: 60rem;
}

.text__info__dog > p {
  font-size: 17px;
  font-family: $font-family-default;
}
