.mobile-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 56px;
  width: 100%;
  z-index: 50;
}

.header__burger-bar {
  display: block;
  height: 3px;
  width: 1.7em;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 3px;
}

.header__toggle {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.header__toggle:checked ~ .mobile-nav {
  display: block;
}

.header__toggle:not(:checked) + .header__burger > span {
  transition: all 0.4s ease;
}

.header__toggle:checked + .header__burger > span {
  transition: all 0.4s ease;
}

.header__toggle:checked + .header__burger > span:nth-child(2) {
  opacity: 0;
  width: 0;
}

.header__toggle:checked + .header__burger > span:nth-last-child(1) {
  transform: rotate(45deg) translate(-9px, -3px);
}

.header__toggle:checked + .header__burger > span:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 2px);
}
