$background: (
  dark: $dark-black,
  pink: $dark-pink,
  gray: $gray-medium,
);

@each $prop, $var in $background {
  .bg-custom-#{$prop} {
    background-color: $var;
  }
}

.bg-lightgray {
  background-color: #f7f7f7;
}

.bg-white {
  background-color: white;
}

.hover\:bg-light:hover {
  background-color: #d66274;
}
