.bg-custom-dark {
  background-color: $dark-black;
}

.bg-custom-pink {
  background-color: $dark-pink;
}

.bg-custom-gray {
  background-color: $gray-medium;
}

.bg-lightgray {
  background-color: #f7f7f7;
}

.bg-white {
  background-color: white;
}

.hover\:bg-light:hover {
  background-color: #d66274;
}
