$dark-pink: #d35266;
$gray-medium: #888;
$dark-black: #383838;
$gray-100: #f1f5f9;
$gray-200: #e2e8f0;
$gray-300: #d4d4d8;
$gray-400: #a1a1aa;
$gray-600: #475569;
$gray-700: #334155;
$gray-800: #383838;
$gray-900: #0f172a;
