@font-face {
  font-family: "helveticaneue";
  src: url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneue";
  src: url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneue";
  src: url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gotham";
  src: url("../fonts/Gotham-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
