.header__container {
  height: 58px;
}

.icon {
  font-size: 1.5rem;
  padding-left: 5px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.icon > a {
  text-decoration: none;
}

.icon-head {
  font-size: 2rem;
  padding-right: 8px;
}

.links > a {
  text-decoration: none;
}

.links {
  cursor: pointer;
}

.links > a:hover {
  color: var(--dark-pink);
}

.links:hover {
  color: var(--dark-pink);
}

.icon__link {
  font-size: 1rem;
  padding-right: 4px;
}

.button > button {
  background-color: var(--dark-pink);
  color: white;
  padding: 10px;
  border: 1px solid var(--dark-pink);
  border-radius: 2px;
}

@media only screen and (max-width: 528px) {
  .sm\:icon-sm {
    font-size: 16px;
  }
  .sm\:icon__link-sm {
    font-size: 0.7rem;
    padding-right: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .md\:justify-center {
    justify-content: center;
  }

  .md\:px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .md\:px-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .md\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .lg\:px-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lg\:px-6 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:px-2 {
    padding-left: 8px;
    padding-right: 8px;
  }
}
