.search__box {
  height: 300px;
}

.search__info {
  height: 75%;
}

.search__info > h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.search__info > p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding-top: 10px;
}

.search__input {
  margin-top: -15px;
}

#apartment-select {
  height: 41px;
  width: 200px;
  border: 1px solid white;
  margin-right: 1px;
  color: var(--gray-medium);
  text-indent: 10px;
}

.search__inp {
  height: 37px;
  width: 300px;
  border: 1px solid white;
  margin-right: 1px;
  text-indent: 10px;
}

.search__button {
  height: 41px;
  width: 100px;
  margin-left: 15px;
  border: 1px solid var(--dark-black);
}
